<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-idnow" version="0.0.8" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    xmlns:tools="http://schemas.android.com/tools">
    <name>IDnowPlugin</name>
    <asset src="www/IDnowPlugin.js" target="js/IDnowPlugin.js"/>
    <js-module name="IDnowPlugin" src="www/IDnowPlugin.js">
        <clobbers target="IDnowPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="IDnowPlugin">
                <param name="android-package" value="com.idnow.plugin.IDnowPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" mode="merge">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />

            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />

            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        </config-file>
        <source-file src="src/android/IDnowPlugin.java" target-dir="src/com/idnow/plugin/" />
        <framework src="src/android/IDnowPlugin.gradle" custom="true" type="gradleReference"/>
        <!-- Common String values - default to English -->
        <resource-file src="src/android/strings_idnow.xml" target="res/values/strings_idnow.xml" />
          <!-- Proguard file for obfuscation rules -->
        <resource-file src="src/android/proguard-rules.pro" target="proguard-rules.pro" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="IDnowPlugin">
                <param name="ios-package" value="IDnowPlugin" />
            </feature>
        </config-file>

        <preference name="CAMERA_USAGE_DESCRIPTION" default="This app needs camera access"/>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="MICROPHONE_USAGE_DESCRIPTION" default="This app needs microphone access"/>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="PHOTO_LIBRARY_DESCRIPTION" default="This app needs photo library access"/>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>This app needs photo library access</string>
        </config-file>
        <framework src="IDnowSDK" type="podspec" spec="4.1.5" />
        <source-file src="src/ios/IDnowPlugin.m" />
        <dependencies>
          <iosPods>
            <iosPod name="okhttp" version="~> 3.10.0" bitcodeEnabled="true" />
          </iosPods>
        </dependencies>
    </platform>
</plugin>
